body,html{
    margin:0;
    width:100%;
}
#header{
    top:0;
    /* position:fixed; */
    width:100%;
}
#main-header{
    height:80px;
    background-color:rgb(0, 47, 95);
    position:relative;
}
.logo{
    margin:0;
    position:absolute;
    left:250px;
}
.search-btn{
    position:absolute;
    left:50%;
    width:540px;
    background-color:white;
    border-radius: 6px;
    top:20px;
    bottom:20px;
    margin:0 0 0 -270px;
    overflow: hidden;
}
.search{
    position:relative;
}
.search-ul{
    list-style-type: none;
    font-size:19px;
    font-weight: bold;
    position:absolute;
    top:10px;
    bottom:10px;
    left:50%;
    margin:0 0 0 -130px;
    height:20px;
}
.search-ul li{
    text-align: center;
}
.fas{
    font-size:25px;
    margin:10px;
}
.auth{
    position: relative;
    float:right;
    padding-right:280px;
    height:80px;
}
p, .far{
    display:inline-block;
    vertical-align: top;
}
p{
    color:darkgrey;
    margin-top:30px;
    font-size:15px;
    font-weight: 600;
}
.fa-user{
    margin-top:25px;
    font-size:30px;
    color: white;
}
#main-nav{
    height:54px;
    box-shadow: 0px 0px 7px 1px rgba(211, 211, 211, 0.8);
    width:100%;
}
.nav{
    width:700px;
    height:100%;
    margin-left:260px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top:0;
    margin-bottom:0;
}
.shoping, .biss, .info, .brand, .contents, .academy{
    color:rgb(0, 47, 95);
    margin: 7px;
    font-weight: 600;
    padding:10px;
}
.shoping:hover, .biss:hover, .info:hover, .brand:hover, .contents:hover, .academy:hover{
    background-color:rgb(0, 47, 95);
    color:white;
    cursor: pointer;
}
.main{
    width: 1280px;
    max-width:1280px;
    margin:0 auto;
    position:relative;
}
.bnr{
    height:330px;
    overflow: hidden;
}
.bnr-ul{
    list-style-type: none;
    margin:0; padding:0;
    display:flex;
    position: static;
    animation:slide 8s infinite;
}
@keyframes slide{
    0% {margin-left:0;}
    10%{margin-left:0;}
    25%{margin-left:-100%;}
    35%{margin-left:-100%;}
    50%{margin-left:-200%;}
    60%{margin-left:-200%;}
    75%{margin-left:-300%;}
    85%{margin-left:-300%;}
    100%{margin-left:0;}
}
.new-year-bg{
    background-image:url("../img/newyear.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:300px;
}
.new-year-menu{
    list-style-type: none;
    display:flex;
    padding:0;
    width:1180px;
    margin:auto;
    position:static;
    margin-top:-90px;
}
.menu{
    width:180px;
    height:300px;
    border:1px solid rgb(214, 214, 214);
    margin:7px;
    background-color: white;
}
h5,h4{
    margin:0px;
    padding-left: 10px;
}
.img{
    width:160px;
    display:block;
    margin:0 auto;
}
h5{
    font-size:15px;
    font-weight: 600;
    margin-top:5px;
}
h4{
    color:grey;
    margin-top:5px;
    font-size:20px;
}
.fa-shopping-cart{
    font-size:25px;
    color:black;
    margin:0;
    margin-left:140px;
}
.online-magazine{
    list-style-type: none;
    background-image: url("../img/back.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:350px;
    position:relative;
}
.magazine{
    position:absolute;
    bottom:36px;
    display:flex;
}
.img2{
    width:180px;
    height:230px;
    margin:10px;
}
.online-text{
    position:absolute;
    top:-35px;
    left:10px;
    display:block;
    margin:0;
    color:rgb(75, 75, 75);
}
.etc{
    position:absolute;
    top:-35px;
    right:10px;
    display:block;
    width:110px;
    height:35px;
    border-radius: 20px;
    border:1px solid black;
    font-size: 15px;
    text-align: center;
    background-color: transparent;
}
.fa-chevron-right{
    font-size:15px;
    padding:0; margin:0;
    margin-left:10px;
}
.nav .shoping-menu{
    display:none;
}
.nav .shoping:hover .shoping-menu{
    display:block;
}
.shoping{
    position: relative;
}
.shoping-menu{
    position:absolute;
    list-style-type: none;
    z-index:100;
    padding:0;
    width:240px;
    color:rgb(0, 47, 95);
    top:47px;
    left:0;
}
.shoping-menu li{
    padding:15px;
    border:1px solid rgb(180, 180, 180);
    font-size:15px;
}
.shoping-menu li:hover{
    border-right: 5px solid rgb(0, 47, 95);
}
.shoping-menu li{
    position:relative;
}
#main-nav .shoping-menu-menu{
    z-index:100;
    width:1025px;
    position:absolute;
    top:130px;
    background-color: white;
    left:571px;
    /* display:none; */
}
.nav .shoping:hover #main-nav .shoping-menu-menu{
    display:none;
}
.shoping-menu-menu ul{
    list-style-type: none;
}
.shoping-menu-menu ul li{
    margin:10px;
}
.u1{
    position:relative;
}
.u2{
    position: absolute;
    left:250px;
    top:23px;
}
.u11{
    margin:0;
    padding-left:10px;
    font-size:14px;
}
