body,html{
    margin:0;
    width:100%;
}
#header{
    top:0;
    position:fixed;
    width:100%;
}
#main-header{
    height:80px;
    background-color:rgb(0, 47, 95);
    position:relative;
}
.logo{
    margin:0;
    position:absolute;
    left:250px;
}
.search-btn{
    position:absolute;
    left:50%;
    width:540px;
    background-color:white;
    border-radius: 6px;
    top:20px;
    bottom:20px;
    margin:0 0 0 -270px;
    overflow: hidden;
}
.search{
    position:relative;
}
ul{
    list-style-type: none;
    font-size:19px;
    font-weight: bold;
    position:absolute;
    top:10px;
    bottom:10px;
    left:50%;
    margin:0 0 0 -130px;
    height:20px;
}
li{
    text-align: center;
}
.fas{
    font-size:25px;
    margin:10px;
}
.auth{
    position: relative;
    float:right;
    padding-right:280px;
    height:80px;
}
p, .far{
    display:inline-block;
    vertical-align: top;
}
p{
    color:darkgrey;
    margin-top:30px;
    font-size:15px;
    font-weight: 600;
}
.far{
    margin-top:25px;
    font-size:30px;
    color: white;
}
#main-nav{
    height:54px;
    box-shadow: 0px 0px 12px 1px rgb(0, 0, 0, 0.8);
    width:100%;
}
.nav{
    width:700px;
    height:100%;
    margin-left:260px;
    display: flex;
    justify-content: center;
}
.shoping, .biss, .info, .brand, .contents, .academy{
    color:rgb(0, 47, 95);
    margin: 7px;
    font-weight: 600;
    padding:10px;
}
.shoping:hover, .biss:hover, .info:hover, .brand:hover, .contents:hover, .academy:hover{
    background-color:rgb(0, 47, 95);
    color:white;
    cursor: pointer;
}