.n-header h5{
    background-color: rgb(235, 235, 235);
    padding-left:250px;
    height:40px;
    margin:0;
    padding-top:20px;
    font-size:14px;
    font-weight: normal;
}
.amway-theme{
    background-image:url("../img/nutri-back.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:450px;
    margin-top:20px;
}
.n-header h6{
    margin-top:-2px;
}
span img{
    width:50px;
    height:50px;
}
strong{
    font-size:40px;
    color:white;
    margin-left:15px;
}
.nutrilite{
    background-image:url("../img/nutrilite.png");
    background-repeat: no-repeat;
    height:15px;
    margin-top:25px;
}
.more-info p{
    margin-top:18px;
    color:white;
}
.more-info h6{
    font-size:13px;
    color:grey;
}
.all-button{
    height:40px;
    width:120px;
    border:none;
    font-weight: 600;
    color:white;
    background-color:rgb(0, 47, 95);
}
.n-info{
    margin-left:365px;
    padding-top:55px;
}
.n-health{
    display:table;
}
.n-health span{
    display:table-cell;
    vertical-align: middle;
}
.n-main{
    width: 1370px;
    max-width:1370px;
    margin:0 auto;
}
.pc-title{
    text-align:center;
}
.category{
    text-decoration: none;
    border:1px solid rgb(192, 192, 192);
    width:130px;
    height:130px;
    color:grey;
    display:inline-block;
    padding:30px 5px 0;
    margin:0 10px 20px;
}
.category img{
    width:70px;
    margin:0 auto;
    display:block;
}
.category h5{
    text-align: center;
    padding:0;
    color:rgb(88, 88, 88);
    padding-top:10px;
}
.pc-title h1{
    color:rgb(0, 47, 95);
    margin-bottom:10px;
}
.pc-title h5{
    color:rgb(0, 47, 95);
    margin:0;
    font-weight: normal;
}
.pc-cate{
    margin-top:45px;
}
.pc-cate a:nth-child(9){
    display:block;
    width:130px;
    margin:0 auto;
}
hr{
    margin:60px 0 60px;
}
.n-science{
    background-image:url("../img/nscience.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height:450px;
    padding:80px 0 60px;
    text-align: center;
    position:relative;
}
.n-science h1{
    color:green;
    font-size:37px;
}
.item1, .item2{
    display:inline-block;
    width:180px;
    height:300px;
    margin:0 5px 0;
    box-shadow: 5px 10px 18px #b3b3b3;
}
.item1{
    background-image: url("../img/item1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    position:relative;
}
.item2{
    background-image: url("../img/item2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    position: relative;               
}
.card-box{
    margin-top:40px;
}
.card-box a{
    text-decoration: none;
}
.card-box h6{
    color:white;
    position:absolute;
    left:20px;
    font-style: italic;
}
.card-box i{
    color:white;
    position:absolute;
    right:10px;
    bottom:10px;
    font-size:20px;
}
.item1 img{
    position:absolute;
    top:50%;
    left:35px;
    width:110px;
    height:10px;
}
.item2 img{
    position:absolute;
    top:42%;
    left:35px;
    width:110px;
    height:50px;
}
.n-science h2, .n-line{
    position: absolute;
    right:0;
}
.n-science h2{
    margin-right:50px;
    margin-top:-40px;
    color:white;
    font-size:35px;
    margin-bottom:0;
}
.n-science .n-line{
    background-color:green;
    width:100px;
    height:5px;
    margin-top:-50px;
}
.health-age, .n-86{
    text-align: center;
}
.health-age{
    margin-bottom: 10px;
    font-size:30px;
    color:rgb(0, 37, 73);
    margin-top:70px;
}
.n-86{
    color:grey;
    font-size:18px;
}
.section{
    margin-top:30px;
}
.owl-item1{
    background-image:url("../img/nutriprdt_pc1.jpg");
    background-repeat: no-repeat;
    background-size: auto 400px;
    width:1376px;
    padding:80px 0 60px 140px;
    position: relative;
}
.h11{
    margin:0;
    margin-top:10px;
    color:rgb(94, 94, 94);
}
.h12{
    margin:0;
    color:green;
}
.owl-detail{
    font-size:13px;
    color:grey;
    margin-top:20px;
    display:block;
}
.detail{
    height:55px;
    width:180px;
    border:none;
    font-weight: 600;
    margin-top:10px;
    color:white;
    background-color:rgb(0, 47, 95);
    font-size:16px;
}
.detail:hover{
    border:2px solid rgb(0, 47, 95);
    color:rgb(0, 47, 95);
    background-color:white;
    cursor: pointer;
}
.owl-item1 .item-img{
    position: absolute;
    right:275px;
    bottom:-90px;
}
.owl-item2{
    background-image:url("../img/nutriprdt_pc2.jpg");
    background-repeat: no-repeat;
    background-size: auto 400px;
    width:1376px;
    padding:80px 0 60px 140px;
    position: relative;
}
.owl-item2 .item-img{
    position: absolute;
    right:275px;
    bottom:-90px;
}
.owl-item3{
    background-image:url("../img/nutriprdt_pc3.jpg");
    background-repeat: no-repeat;
    background-size: auto 483.8px;
    width:1376px;
    padding:80px 0 60px 140px;
    position: relative;
}
.owl-item3 .item-img{
    position: absolute;
    right:275px;
    bottom:-90px;
}
.owl-item4{
    background-image:url("../img/nutriprdt_pc4.jpg");
    background-repeat: no-repeat;
    background-size: auto 400px;
    width:1376px;
    padding:80px 0 60px 140px;
    position: relative;
}
.owl-item4 .item-img{
    position: absolute;
    right:275px;
    bottom:-120px;
}
.section input[id*="slide"]{
    display:none;
}
.section .slidewrap{
    max-width: 1376px;
    margin:0 auto;
    overflow: hidden;
}
.section .slidelist{
    white-space: nowrap;
    list-style-type: none;
}
.section .slidelist>li{
    display:inline-block;
    vertical-align: middle;
    width:100%;
    transition: all .5s;
}
.section .slidelist>li>a{
    display:block;
    position: relative;
}
.section .slidelist label{
    position:absolute;
    z-index:10;
    top:50%;
    transform: translateY(-50%);
    padding:50px;
    cursor: pointer;
}
.section .slidelist .left{
    left:10px;
    background:url("../img/left.png") center center/40% no-repeat;
}
.section .slidelist .right{
    right:10px;
    background:url("../img/right.png") center center/40% no-repeat;
}