.n-header h5{
    background-color: rgb(235, 235, 235);
    padding-left:250px;
    height:40px;
    margin:0;
    padding-top:20px;
    font-size:14px;
    font-weight: normal;
}
.amway-theme{
    background-image:url("../img/nutri-back.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:450px;
    margin-top:20px;
}
.n-header h6{
    margin-top:-8px;
}
/* span img{
    width:50px;
    height:50px;
} */
span{
    margin-right:10px;
}
strong{
    font-size:40px;
    color:white;
}
.nutrilite{
    background-image:url("../img/nutrilite.png");
    background-repeat: no-repeat;
    height:15px;
    margin-top:20px;
}
.more-info p{
    margin-top:15px;
    color:white;
}
.more-info h6{
    font-size:12px;
    color:grey;
}
.all-button{
    height:40px;
    width:120px;
    border:none;
    font-weight: 600;
    color:white;
    background-color:rgb(0, 47, 95);
}
.n-info{
    margin-left:370px;
    padding-top:50px;
}